*{
	margin: 0px;
	padding: 0px;
	font-size:12px;
	font-family: STHeitiSC-Medium;
}

.body{
	width: 1024px;
	margin: 0px auto;
}
.header {
	height: 84px;
	margin-left: 7px;
	margin-right: 46px;
}
.header .active{
	background-color: #5da2f3;
	color: white;
	width: 129px;
}
.header div:first-child{
	padding-top: 3px;
	margin-right: 40px;
	/text-align: left;/
}
.header div{
	padding-top: 17px;
	height: 67px;
	text-align: center;
	float: left;
	margin: 0 28px;
	font-size: 21px;
}
.header div a{
	font-size: 21px;
	text-decoration: none;
	color: #9b9b9b;

}
.header span{
	font-size: 18px;
	font-family: Helvetica;
}

/**
	帮助页面
**/
.help_saler_and_buyer{
	width: 100%;
}
.help_saler_and_buyer div{
	float: left;
	width: 49.5%;
	text-align: center;
}

.help_saler_and_buyer div:first-child{
	border-right: 1px solid #5da2f3;
}
.help_saler_and_buyer div:last-child{
	position: relative;
}
.help_saler_and_buyer_more{
	display: inline-block;
	width: 61px;
	height: 18px;
	position: absolute;
	right: 8px;
	bottom: 3px;
	z-index: 1000px;
}
.help_saler_and_buyer div h1{
	margin-top: 53px;
}
.help_saler_and_buyer div h1 span{
	display: inline-block;
	width: 189px;
	height: 34px;
	padding: 4px, 42px 6px 51px ;
	font-size: 24px;
	background-color: #2a83ff;
	color: white;
}
.help_saler_and_buyer div p:first-child{
	margin-top: 28px;
}
.help_saler_and_buyer div p{
	margin-top: 18px;
	font-size: 20px;
	height: 20px;
	line-height: 20px;
	color: #2a83ff;
	margin-bottom: 36px;
}
.help_saler_and_buyer:after{
    content: ' ';
    display: block;
    clear: both;
    height: 0px;
}

.help_plat_charge{
	background-color: #f0f0f0;
	height: 444px;
	position: relative;
}
.help_plat_charge_bg{
	position: absolute;
	right: 0px;
	top:-105px;
	z-index: 100px;
}
.help_plat_charge h1{
  	font-size: 28px;
  	font-weight: normal;
  	text-align: center;
}
.help_plat_charge h4{
	font-size: 13px;
	font-weight: normal;
	color: #aeaeae;
	padding-left: 422px;

}
.help_plat_charge h4 span{
	margin-left: 29px;
	font-size: 13px;
	width: 93px;
	height: 26px;
	line-height: 26px;
	display: inline-block;
	text-align: center;
	color: #ffffff;
	background-color: #5da2f3;
	border-radius: 10px;
	position: relative;
	top:0px;
}
.help_plat_charge .first{
	margin-top: 33px;
}
.help_plat_charge p{
	margin-left: 152px;
	font-size: 20px;
}
.help_register{
	background-color: #5da2f3;
	height: 206px;
}
.help_register p{
	padding-top: 27.7px;
	color: #ffffff;
	text-align: center;
	font-size: 26.2px;
}
.help_register p span{
	display: inline-block;
	width: 82.6px;
  	border: solid 1px #ffffff;
  	position: relative;
  	top:-10px;
}
.help_register .help_register_content{
	margin-top: 48.6px;
}
.help_register .help_register_content div{
	float: left;
	width: 50%;
	text-align: center;
}
.help_register .help_register_content div:first-child span{
  	display: inline-block;
  	width: 185px;
  	height: 42px;
  	background-image: url('../img/become_buyer.png');
  	background-repeat: no-repeat;
}
.help_register .help_register_content div:last-child span{
  	display: inline-block;
  	width: 182px;
  	height: 41px;
  	background-image: url('../img/become_saler.png');
  	background-repeat: no-repeat;
}
.help_register .help_register_content div span sub{
	position: relative;
	left: 20px;
	top: 5px;
	font-size: 20.6px;
  	color: #ffffff;
}

/**
关于我们

**/

.about_advantage h1,.about_partner h1,.about_contact_us h1{
	font-size: 36px;
  	color: #4a4a4a;
  	text-align: center;
  	font-weight: normal;
  	margin-top: 31px;
}
.about_advantage h4,.about_partner h4,.about_contact_us h4{
	font-size: 16px;
  	color: #262626;
  	text-align: center;
  	font-weight: normal;
}
.about_advantage h4 span,.about_partner h4 span,.about_contact_us h4 span{
	display: inline-block;
	width: 82.6px;
  	border: solid 1px #4a4a4a;
  	position: relative;
  	top:-5px;
}
.about_advantage .about_advantage_intro{
	margin-top: 40px;
}
.about_advantage .about_advantage_intro div{
	float: left;
	width: 23%;
	text-align: center;
	padding: 10px;
}
.about_advantage .about_advantage_intro .first_bg{
	display: inline-block;
  	width: 205px;
  	height: 200px;
  	background-image: url('../img/advantage_pic_1.png');
  	background-repeat: no-repeat;
}
.about_advantage .about_advantage_intro sub{
	font-size: 32px;
  	color: #ffffff;
  	position: relative;
  	top:55px;
}
.about_advantage .about_advantage_intro .second_bg{
	display: inline-block;
  	width: 207px;
  	height: 202px;
  	background-image: url('../img/advantage_pic_2.png');
  	background-repeat: no-repeat;
}
.about_advantage .about_advantage_intro .three_bg{
	display: inline-block;
  	width: 205px;
  	height: 200px;
  	background-image: url('../img/advantage_pic_3.png');
  	background-repeat: no-repeat;
}
.about_advantage_intro .four_bg{
	display: inline-block;
  	width: 205px;
  	height: 202px;
  	background-image: url('../img/advantage_pic_4.png');
  	background-repeat: no-repeat;
}
.about_advantage_intro_detail{
	font-size: 18px;
  	color: #9b9b9b;
  	margin-top: 21px;
}
.about_advantage .about_advantage_intro:after{
    content: ' ';
    display: block;
    clear: both;
    height: 0px;
}
.about_partner {
	margin-top: 76px;
	height: 400px;
}
.about_partner p{
	text-align: center;
	font-size: 24px;
  	color: #5da2f3;
}
.about_contact_us{
	background-color: #5da2f3;
	height: 264px;
	color: #ffffff;
}
.about_contact_us h1{
	color: #ffffff;
}
.about_contact_us h4{
	color: #ffffff;
}
.about_contact_us h4 span{
  	border: solid 1px #ffffff;
}
.about_contact_us p{
	margin-left: 379px;
}
.about_contact_us p span,.about_contact_address p span{
	position: relative;
	font-size: 18px;
	top:-12px;
}

.about_contact_address{
	padding-top: 20px;
	background-color: #5da2f3;
	height: 117px;
	color: #ffffff;
	opacity:0.7;
	filter:alpha(opacity=70);
    -moz-opacity:0.7;
    -khtml-opacity: 0.7;
}
.about_contact_address p{
	margin-left: 357px;
}

/* 客服中心 -- start -- */
.kefu-center-content {
    margin: 25px 0 0 15px;
}

.kefu-center-content li {
    list-style-type: none;
}

.kefu-center-content li div {
    float:left;
    height: 285px;
    margin-left: 44px;
    display:table;
}

.kefu-img {
    float:left;
    height: 285px;
    width: 388px;
}

.kefu-description {
    color: #262626;
    /*margin-top: 33px;*/
    font-size: 24px;
}

.kefu-center-content li div ul {
    margin-top: auto;
    margin-bottom: auto;
    line-height: 50px;
    display:table-cell;
    vertical-align:middle;
}

.kefu-xiangying-tuijian {
    font-size: 20px;
    color: #aeaeae;
}

.kefu-zixun {
  width: 136px;
  height: 41px;
  border-radius: 7px;
  background-color: #5da2f3;
  margin-left: 351px;
  text-align: center;
  font-size: 22px;
  color: #ffffff;
  line-height: 41px;
}

.kefu-center-content li div li img {
    margin: 0 5px;
}

.kefu-xiangying {
    font-size: 20px;
    color: #aeaeae;
}

.kefu-p-indent {
    text-indent: 5em;
}

.kefu-area p {
    font-size: 20px;
    color: #aeaeae;
    line-height: 26px;
}
/* 客服中心 -- end -- */


/* 消息中心 -- start -- */
.message-center-content {
    width: 872px;
    height: 732px;
	margin: 23px 0 25px 152px;
    overflow: auto;
}

.message-content {
    margin-bottom: 12.4px;
}

.message-today {
    font-size: 30px;
    color: #f5a623;
    width: 79px;
    text-align: center;
    display: inline-block;
}

.message-yesterday {
    color: #4a90e2;
}

.message-date {
    font-family: Arial-BoldMT;
    font-size: 24px;
    color: #2a83ff;
    width: 129px;
    text-align: center;
    display: inline-block;
}

.message-table {
    padding-left: 111px;
    margin-left: 18px;
    width: 646.5px;
    border:solid 1px #4a90e2;
    border-style: none;
    border-left-style: solid;
}

.message-table td {
    font-family: ArialMT;
    font-size: 24px;
    color: #262626;
    font-weight: lighter;
}

.message-table tr {
    line-height: 47px;
    vertical-align: text-top;
}

.message-table tr td:first-child {
    width: 3em;
}

.message-table tr td:nth-child(2) {
    color: #1d9647;
    width: 5em;
}

.message-table tr td:nth-child(3) {
    line-height: 32px;
}
/* 消息中心 -- end -- */

/* pc登录 -- start -- */
.pclogin-content {
  background-image: url('../img/login-background-image.jpg');
  width: 1024px;
  height: 577px;
  background-color: '';
  overflow: hidden;
}
.pclogin-content a {
  text-decoration: none;
}
.pclogin-content-left {
  border-radius: 5px;
  text-align: center;
  float: left;
  width: 536px;
  height: 107px;
  background-color: #137ec2;
  margin-top: 222px;
  margin-left: 53px;
}
.pclogin-content-left p:first-child {
  font-family: STHeitiSC-Medium;
  font-size: 52px;
  color: #ffffff;
}
.pclogin-content-left p:last-child {
  font-family: STHeitiSC-Medium;
  font-size: 22.9px;
  color: #ffffff;
}
.pclogin-content-right {
  float: left;
  width: 320px;
  height: 256px;
  background-color: #ffffff;
  margin-top: 154px;
  margin-left: 70px;
}
.pclogin-content-right .login-title {
  float: left;
  text-align: center;
  background-image: url('../img/login-title-background.png');
  line-height: 34px;
  width: 160px;
  height: 34px;
  background-color: '';
  font-family: STHeitiSC-Medium;
  font-size: 12.7px;
  color: #5da2f3;
}
.pclogin-content-right .active {
  font-family: STHeitiSC-Medium;
  font-size: 12.2px;
  color: #ffffff;
  width: 160px;
  height: 39px;
  background-color: '';
  background-image: url('../img/login-active-title-background.png');
}
.pclogin-content-right .login-input-name {
  width: 240px;
  height: 31px;
  background-color: '';
  margin-top: 66.4px;
  margin-left: 38.4px;
  background-image: url('../img/login-input-box.png');
  line-height: 31px;
}
.pclogin-content-right .login-input-name img {
  margin-top: 6.9px;
  margin-left: 8.4px;
  float: left;
}
.pclogin-content-right .login-input-name input {
  float: left;
  border: none;
  outline: medium;
  font-family: STHeitiSC-Medium;
  font-size: 13.8px;
  color: #9b9b9b;
  width: 80%;
  height: 90%;
  background-color: '';
  margin-top: 1px;
  margin-left: 11.9px;
}
.pclogin-content-right .login-input-passwd {
  width: 240px;
  height: 31px;
  background-color: '';
  margin-top: 66.4px;
  background-image: url('../img/login-input-box.png');
  line-height: 31px;
  margin-top: 9.7px;
  margin-left: 38.4px;
}
.pclogin-content-right .login-input-passwd img {
  margin-top: 6.9px;
  margin-left: 8.4px;
  float: left;
}
.pclogin-content-right .login-input-passwd input {
  float: left;
  border: none;
  outline: medium;
  font-family: STHeitiSC-Medium;
  font-size: 13.8px;
  color: #9b9b9b;
  width: 80%;
  height: 90%;
  background-color: '';
  margin-top: 1px;
  margin-left: 11.9px;
}
.pclogin-content-right .login-input-active {
  background-image: url('../img/login-active-input-box.png');
}
.pclogin-content-right .login-forget {
  margin-top: 16.8px;
  margin-left: 38.4px;
  width: 240px;
  height: auto;
  background-color: '';
  position: relative;
}
.pclogin-content-right .login-forget input,
.pclogin-content-right .login-forget span,
.pclogin-content-right .login-forget a {
  font-family: STHeitiSC-Medium;
  font-size: 7.7px;
  color: #9b9b9b;
  vertical-align: middle;
}
.pclogin-content-right .login-forget a {
  position: absolute;
  right: 0;
}
.pclogin-content-right .login-button {
  width: 239.1px;
  height: 29.9px;
  background-color: #5da2f3;
  text-align: center;
  line-height: 29.9px;
  margin-top: 15px;
  margin-left: 38.4px;
}
.pclogin-content-right .login-button span {
  font-family: STHeitiSC-Medium;
  font-size: 13.8px;
  color: #ffffff;
}
.pclogin-content-right .login-register {
  width: 239.1px;
  height: '';
  background-color: '';
  margin-top: 15px;
  margin-left: 38.4px;
  text-align: right;
}
.pclogin-content-right .login-register a {
  font-family: STHeitiSC-Medium;
  font-size: 7.7px;
  color: #9b9b9b;
}
/* pc登录 -- end -- */
